/* Body */
body {
	margin: auto 0;
	font-size: 2em;
	font-family: Arial;
}
/* Body End */





/* NAVBAR */
.navbar {
	display: flex;
	list-style: none;
    justify-content: flex-end;
    margin: 0;	
} 

.sticky {
	background-color: black;
}

.push {
	margin-right: auto;
}
/*NAVBAR END */





/* LI */
li {
	margin: 5px;
	padding: 20px;
	color: yellow;
} 
/* LI END */





/* HERO */
.hero {
	background-color: #1d5dfb;
}
/* END OF HERO */














/* FOOTER */
.myfooter {
	display: flex;
	justify-content: center;
	background-color: black;
}

.web-contact {
	background-color: purple;
}

.facebook {
	background-color: green;
}
/* END OF FOOTER */