/* Body */
body {
	margin: auto 0;
	font-size: 2em;
	font-family: Arial;
}
/* Body End */





/* NAVBAR */
.navbar {
	display: flex;
	list-style: none;
    /*justify-content: flex-end*/
	font-size: 0.7em;
    margin: 0;	
} 

/* This was to shrink font for screen */
@media only screen and (max-width: 633px) {
	.navbar {
		font-size: 0.5em;
		padding: 0;
	}
}

.sticky {
	background-color: black;
}

.push {
	margin-right: auto;
}
/*NAVBAR END */





/* LI */
li {
	margin: 5px;
	padding: 20px;
	color: yellow;
} 
/* LI END */





/* HERO */
.hero {
	display: flex;
	background-color: #1d5dfb;
	align-items: center;
    justify-content: center;
}
/* END OF HERO */














/* FOOTER */
.myfooter {
	display: flex;
	justify-content: center;
	background-color: black;
}

.web-contact {
	background-color: purple;
}

.facebook {
	background-color: green;
}
/* END OF FOOTER */