/* START OF DISPLAY PROPERTIES */
/* DISPLAY TITLE */
.title {
	display: flex;
	justify-content: flex-start;
}
/* END OF DISPLAY TITLE */
/* start with display flex to start working with flex box*/
.display-flex {
  display: flex;
}

/* display inline-flex puts item inline! */
.display-flex-inline {
	display: inline-flex;
}
/* END OF DISPLAY PROPERTIES */







/* START OF FLEX DIRECTION PROPERTIES */
/* flex direction row */
.flex-direction-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* flex direction row reverse */
.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

/* flex-direction column */
.flex-direction-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* flex-direction column reverse */
.flex-direction-column {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}
/* END OF FLEX DIRECTION PROPERTIES */







/* START OF WRAP PROPERTIES */
/* flex-wrap nowrap */
.flex-wrap-nowrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

/* flex-wrap wrap */
.flex-wrap-nowrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

/* flex-wrap wrap-reverse */
.flex-wrap-wrap-reverse{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  height: 100%;
}

/* This applies to all wrap properties only!!! */
.child-wrap {
  width: 40%;
}
/* END OF WRAP PROPERTIES */






/* START OF FLEX FLOW PROPERTIES */
/* flex flow row nowrap */
.flex-flow-row-nowrap {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
}

 /* flex flow column-reverse */
.flex-flow-column-reverse {
  display: flex;
  flex-flow: column-reverse;
  height: 100%;
}

/* flex flow column wrap */
.flex-flow-column-wrap {
  display: flex;
  flex-flow: column wrap;
  height: 100%;	
}

/* row-reverse wrap-reverse */
.flex-flow-row-reverse-wrap-reverse {
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  height: 100%;		
}

 /* child-flow only for flow */
.child-flow {	
  width: 40%;
  height: 40%; 
}
/* END OF FLEX FLOW PROPERTIES 






/* ORDER START */
.order {
  display: flex;
  align-items: flex-start;
  height: 100%;
} 
 
/* Child for order only!-1 0 1*/
.child-order {
	order: -1;
} 
/* ORDER END */





/* Alignment */
/* JUSTIFY CONTENT */
.justify-content-flex-start {
  display: flex;
  justify-content: flex-start;
  height: 100%;
}

.justify-content-flex-end {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

.justify-content-center {
  display: flex;
  justify-content: center;
  height: 100%;
}

.justify-content-space-between {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.justify-content-space-around {
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.justify-content-space-evenly {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
/* END OF JUSTIFY CONTENT */

/* align-items */
.align-items-flex-start {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.align-items-flex-end {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.align-items-center {
  display: flex;
  align-items: center;
  height: 100%;
}
/*END OF Alignment */