/* start with display flex to start working with flex box*/
.parent-flex {
  display: flex;
}

/* flex direction row */
.flex-direction-row {
  display: flex;
  flex-direction: row;
  height: 100%;
}

/* flex direction row reverse */
.flex-direction-row-reverse {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
}

/* flex-direction column */
.flex-direction-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* flex-direction column reverse */
.flex-direction-column {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
}

/* flex-wrap nowrap */
.flex-wrap-nowrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

/* flex-wrap wrap */
.flex-wrap-nowrap {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

/* flex-wrap wrap-reverse */
.flex-wrap-wrap-reverse{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  height: 100%;
}